doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='/socket.io/socket.io.js')
  body
    div(id='messages')
    input(id='msgInput')
    button(onclick="send();") Send
    script(src='/scripts/main.js')
